@import "tailwindcss";

@theme {
  --color-background-primary: #FFFFFF;
  --color-background-secondary: #f9fafc;
  
  --color-text-primary: #000000;
  --color-text-secondary: #7d8184;
  --color-text-tertiary: #dd4343;
  --color-text-quaternary: #335be8;
  
  --color-success-primary: #1ea950;
  --color-success-secondary: #e9fbef;
  
  --color-warning-primary: #be6d11;
  --color-warning-secondary: #fff3e7;
  
  --color-danger-primary: #da4445;
  --color-danger-secondary: #fce9eb;
  
  --color-button-primary: #da4445;
  
  --color-border-primary: #cdcfd6;
  --color-border-secondary: #7d8184;
  
  --color-info-primary: #2a4ec7;
  --color-info-secondary: #e9effd;
}

@layer base {
  body {
    @apply bg-background-primary text-text-primary;
  }
}
